.app-servico{
  margin-top: 5rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.title{
  margin-top: 7rem;
  margin-bottom: 1rem;

  h1{
    padding: 0rem 2rem;
    font-size: 4rem;
    font-family: "Titillium Web";

    color: #0177B9;
    font-weight: 700;
    span{
      font-family: "Titillium Web";
      color: #EB651D;
    }
  }
}

.card-title-1{
  color: #EB651D;
}

.card-title-2{
  color: #0177B9;
}

h5{
  font-size: 2rem;
  font-weight: 600;
}

.servico{
  padding: 2rem;
  width: 20rem;
  margin: auto;
}

.row {
   display: flex;
   flex-wrap: wrap;
   margin-right: -0.75rem;
   margin-left: -0.75rem;

 }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}


.oqfazemos{
  justify-content: end;
  margin: 0 20%;
  hr{
    border: none;
    height: 4px;
    color: #ffffff;
    background-color: #ffffff;
    opacity: 1;
    width: 20%;
    margin-right:1rem;
  }

  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}

