<div class="text-center title" id="contato">
  <h1>Está <span>Interessado?</span></h1>
</div>
<div class="oqfazemos">
  <hr><h1>Entre em contato</h1>
</div>

<div class="contact_us_6">
  <div class="responsive-container-block container">
    <form class="form-box">
      <div class="container-block form-wrapper">
        <div class="mob-text titulo-plano">
          <h1 class="text-blk contactus-head ">
            Mande uma mensagem
          </h1>
          <p class="text-blk contactus-subhead">
            Nos siga nas redes sociais a baixo e fique por dentro de todas as nossas novidades!
          </p>
        </div>
        <div class="responsive-container-block" id="i2cbk">
          <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="i10mt-3">
            <p class="text-blk input-title">
              Nome completo
            </p>
            <input class="input" id="ijowk-3" name="FirstName" >
          </div>
          <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="ip1yp">
            <p class="text-blk input-title">
              Email
            </p>
            <input class="input" id="ipmgh-3" name="Email">
          </div>
          <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="ih9wi">
            <p class="text-blk input-title">
              Numero de telefone
            </p>
            <input class="input" id="imgis-3" name="PhoneNumber" >
          </div>
          <div class="responsive-cell-block wk-tab-12 wk-mobile-12 wk-desk-12 wk-ipadp-12" id="i634i-3">
            <p class="text-blk input-title">
              Sua mensagem
            </p>
            <textarea class="textinput" id="i5vyy-3" ></textarea>
          </div>
        </div>
        <button class="submit-btn tem " id="w-c-s-bgc_p-1-dm-id-2">
          Mandar
        </button>
      </div>
    </form>
    <div class="responsive-cell-block wk-desk-7 wk-ipadp-12 wk-tab-12 wk-mobile-12" id="i772w">
      <div class="map-part">
        <p class="text-blk map-contactus-head" id="w-c-s-fc_p-1-dm-id">
          Siga-nos nas <span class="text-orange">redes sociais</span>
        </p>
        <p class="text-blk map-contactus-subhead">
          Nos siga nas redes sociais a baixo e fique por dentro de todas as nossas novidades!
        </p>
        <div class="social-media-links mob">
          <a class="social-icon-link" href="#" id="ix94i-2-2">
            <img class="link-img image-block" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-twitter.png">
          </a>
          <a class="social-icon-link" href="#" id="itixd">
            <img class="link-img image-block" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-facebook.png">
          </a>
          <a class="social-icon-link" href="#" id="izxvt">
            <img class="link-img image-block" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-google.png">
          </a>
          <a class="social-icon-link" href="#" id="izldf-2-2">
            <img class="link-img image-block" src="https://workik-widget-assets.s3.amazonaws.com/Footer1-83/v1/images/Icon-instagram.png">
          </a>
        </div>
        <div class="map-box container-block">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.344184431445!2d-47.35160198915996!3d-22.752604779277867!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c89bde5bd26a4b%3A0x73aa44217bc4cce7!2sCol%C3%A9gio%20Politec!5e0!3m2!1spt-BR!2sbr!4v1722606424819!5m2!1spt-BR!2sbr" width="100%" height="100%" style="border:0;border-radius: .5rem;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; Camale Code 2024</div></footer>
