<ng-container *ngIf="globalService.getLanguage() === 'pt'; else enTemplate">
  <section class="app-home" id="home">
    <div class="gradiente">

        <div class="ttt">
          <!--TODO-->
          <!-- Resolver a responsibilidade-->

          <div class="triangle">
            <div class="title">
              <img ngSrc="./assets/logo.png"  width="100" height="100" class="logo"/>
              <h1>CAMALE <span>CODE</span></h1>
              <p>A solução que sua empresa precisa</p>
            </div>
          </div>

        </div>
    </div>
  </section>

</ng-container>

<ng-template #enTemplate>
  <section class="app-home" id="home">
    <div class="gradiente">

      <div class="ttt">
        <!--TODO-->
        <!-- Resolver a responsibilidade-->

        <div class="triangle">
          <div class="title">
            <img ngSrc="./assets/logo.png"  width="100" height="100" class="logo"/>
            <h1>CAMALE <span>CODE</span></h1>
            <p>The solution your company needs</p>
          </div>
        </div>

      </div>
    </div>
  </section>
</ng-template>
