@import "https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap";
@import "https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap";
@import 'bootstrap/scss/bootstrap';

*{
    margin: 0;
    padding: 0;
    font-family: "dosis";
}
body{
    background-color: #101728;
}


a {
  transition: none !important;
}

a:hover, a:focus, a:active {
  text-decoration: none !important;
  color: inherit !important; /* opcional, caso queira manter a cor padrão */
  background-color: transparent !important; /* remove possíveis efeitos de fundo */
}


:host ::ng-deep a {
  transition: none !important;
}

:host ::ng-deep a:hover, :host ::ng-deep a:focus, :host ::ng-deep a:active {
  text-decoration: none !important;
  color: inherit !important;
  background-color: transparent !important;
}





/* Importing Bootstrap SCSS file. */

.glow-on-hover {
  padding: .7rem;
  font-size: medium;
  border: none;
  outline: none;
  color: #fff;
  background: #000000;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -5px;
  left:-5px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #ffffff
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000000;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


